<%= simple_form_for [@customer, @invoice] do |f| %>
        <%= f.error_notification %>

        <%= f.simple_fields_for :orders, method: 'get' do |ph| %>

                <div class="comple">
                        <div class="span3">
                                <%= ph.input( :name, label: 'Articles', input_html: { 
                                        data: {'autocomplete-field' => true,
                                               'autocomplete-for' =>'#_articles_id',
                                               'autocomplete-url' => articles_path(format: :json)
                                } 
                                }) %>
                 <%= ph.input :articles_id  %>

                </div>
                <div class="span2">
                        <%= ph.input :quantity, :input_html => {:class => "input-small"}  %>
                </div>
                <div class="span2">
                        <%= ph.input :unit_price, :input_html => {:class => "input-small"}  %>        </div>
                <div class="span2">
                        <%= ph.input :price_total , :input_html => {:class => "input-small"} %>
                </div>
                <%= link_to "remove", '#', class:"remove_fields" %>
        </div>
<% end %>
<%= link_to_add_fields 'add', f , :orders %>
                </div>
                <div class="form-actions">
                        <%= f.button :submit %>
                </div>
        <% end %>
